@font-face {
    font-family: Sans Bold;
    src: url('./Fonts/Product\ Sans\ Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    
}

#main {
    width: 100%;
    height: 100vh;
    background-color: orange;
}

nav {
    width: 100%;
    height: 10vh;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10vw;
    position: fixed;
    z-index: 99;
}

#logo {
    font-size: 2em;
    font-weight: 700;
    color: #fff;
}

ul {
    display: flex;
    align-items: flex-start;
    gap: 0 10vw;
}

li {
    list-style: none;
    font-weight: 400;
    font-size: 1.2em;
    color: #fff;

}

#one {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fanta {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    z-index: 2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

}

#orange-cut {
    position: absolute;
    left: 35%;
    top: 10%;
    width: 15%;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#orange {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 20%;
    z-index: 3;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#one h1 {
    font-size: 25vw;
    color: #fff;
    font-family: Sans Bold;

}

#leaf {
    top: 10%;
    left: 12%;
    position: absolute;
    width: 15%;
    transform: rotate(60deg);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#leaf-2 {
    position: absolute;
    right: 0%;
    top: 10%;
    width: 15%;
    
}

#leaf-3 {
    position: absolute;
    top: 65%;
    right: 5%;
    width: 15%;
    transform: rotate(-90deg);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#two {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(238, 93, 93), rgb(231, 98, 98));
    display: flex;
}

#left {
    width: 50%;
    height: 100%;

}

#right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#right h1 {
    color: #fff;
    font-size: 4em;
    font-family: Sans Bold;
}

#right p {
    color: #fff;
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#three {
    width: 100%;
    height: 100vh;
    background-color: rgb(238, 116, 72);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10vw;
}

.card {
    background-color: #fff;
    width: 20vw;
    height: 75vh;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1%;
}

.card h1 {
    font-family: Sans Bold;
    margin-top:60vh;
}

button {
    padding: 1vw 2vw;
    border: none;
    border-radius: 10%;
    font-size: 2em;
    font-weight: 400;
    font-family: Sans Bold;
    color: #fff;
    background-color: orange;
}
#cocacola{
    position: absolute;
    z-index: 2;
    width: 20%;
    top: 200%;
    height: 70%; 
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#lemon{
    position: absolute;
    z-index: 1;
    width: 25%;
    top: 192%;
    left:15%;
}
#pepsi{
    position: absolute;
    top:200%;
    width: 30%;
    height: 72%;
}
